<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Provider" value="OpenSubtitles.Org" />
    <add key="Culture" value="he-il"/>
    <add key="SearchPatterns" value="*.mkv;*.avi"/>
    <add key="ProvidersPath" value=""/>
    <!--Leave empty for same path as executable-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
