<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="Version" value="1.02"/>
    <add key="WebTimeout" value="90000"/>
    <add key="OpensubtitlesOrgApiUri" value="http://api.opensubtitles.org/xml-rpc" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

